<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Errore</title>
</head>
<body>
    <h1>Si è verificato un errore -- mypage </h1>
    <p style="font-family: 'Times New Roman', Times, serif; color:crimson">{{message}}</p>
</body>
</html>
